.columns
  .column.is-four-fifths
    h1.title Liste des enfants
  .column
    .buttons.is-right = link_to "➕ Ajouter un enfant", new_enfant_path, class: "button is-info"

table.table.is-striped.is-fullwidth
  thead
    tr
      th Nom
      / th Inscriptions d'encadrant
      th colspan="2"
  tbody
    - @enfants.each do |enfant|
      tr
        td = enfant.nom
        / td = enfant.inscriptions.count
        td = link_to "📝", edit_enfant_path(enfant)
        td = link_to "🗑️", enfant, method: :delete, data: { confirm: "Are you sure?" }
