.columns
  .column.is-four-fifths
    h1.title Liste des encadrants
  .column
    .buttons.is-right = link_to "➕ Ajouter un encadrant", new_encadrant_path, class: "button is-info"

table.table.is-striped.is-fullwidth
  thead
    tr
      th Nom
      / th Inscriptions
      th colspan="2"
  tbody
    - @encadrants.each do |encadrant|
      tr
        td = encadrant.nom
        / td = encadrant.inscriptions.count
        td = link_to "📝", edit_encadrant_path(encadrant)
        td = link_to "🗑️",
                     encadrant,
                     method: :delete,
                     data: { confirm: "Êtes-vous sûr ?" }
